@import url("https://pagecdn.io/lib/easyfonts/fonts.css");

* {
  background-color: #F0EBE3;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.App h1 {
  font-family: 'Hahmlet', serif;
  font-size: 48px;
  background-color: #576F72;
  padding: 32px 48px;
  border-radius: 12px;
  margin-bottom: 16px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.App input {
  width: 300px;
  height: 36px;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  padding-left: 8px;
  margin-bottom: 72px;
  border-radius: 6px;
  background-color: #E4DCCF;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.App p {
  background-color: #7D9D9C;
  padding: 6px 10px;
  width: 200px;
  text-align: center;
  margin: 10px;
  border-radius: 6px;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
